<div class="smallScreen">
	<h1>Приложение доступно на устройствах с шириной экрана от 568 пикселей и выше. <br> Для просмотра контента подойдет девайс не меньше, чем iPad mini. <br> Приносим свои извинения за предоставленные неудобства.</h1>
</div>

<div class="yourAgeQuestionWrapper">
    <h1 class="agePageLogo">Orthogonal latin squares</h1>
    <h1 class="agePageDescription">
        The construction of 4x4 set was published by Jacques Ozanam in 1725
        as a puzzle involving playing cards. <br>
        The problem was to take all aces, kings, queens and jacks from a standard deck of cards,
        and arrange them in a 4x4 grid such that each row and each column contained all four
        suits as well as one of each face value.</h1>
    <div class="agePageImg">
        <li ng-repeat="image in ngGridsterImageGal" ng-show="image.firstPage">
            <img id="firstPage{{image.id}}" ng-src="{{image.src}}">
        </li>
    </div>
    <div class="matureContent">
		<h1>Mature content, please verify your age</h1>
	</div>
	<a ui-sref="theGame"><button type="button" class="btn">I certify that I am 18 years of age or older</button></a>
</div>